In [5]:
import numpy as np
import pandas as pd

* 실습 데이터 준비

In [9]:
df = pd.read_csv('법정동코드 전체자료.txt', sep='\t', encoding='euc-kr')
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [13]:
df.shape

(46314, 3)

In [15]:
df = df[df['폐지여부'] == '존재']
df.shape

(20551, 3)

In [16]:
# 인덱싱 (법정동명의 앞에서 두 글자만 가져오기)
df['법정동명'].str[:2].head()

0    서울
1    서울
2    서울
3    서울
4    서울
Name: 법정동명, dtype: object

In [17]:
# 찾기
# '동'이 법정동명에 있으면 '동'의 인덱스를 return하고
# '동'이 없을 경우 -1을 return한다
df.법정동명.str.find('동').head()

0    -1
1    -1
2    12
3    12
4    12
Name: 법정동명, dtype: int64

In [18]:
'서울특별시 종로구'.find('동')

-1

In [19]:
'서울특별시 종로구 청운동'.find('동')

12

In [20]:
# 분할
# split의 경우 공백문자를 기준으로 분리
df['법정동명'].str.split().head()

0              [서울특별시]
1         [서울특별시, 종로구]
2    [서울특별시, 종로구, 청운동]
3    [서울특별시, 종로구, 신교동]
4    [서울특별시, 종로구, 궁정동]
Name: 법정동명, dtype: object

In [21]:
# 포함여부 확인
df['법정동명'].str.contains('종로').head()

0    False
1     True
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [23]:
# 문자 대체
df['법정동명'].str.replace(' ','_').head()

0            서울특별시
1        서울특별시_종로구
2    서울특별시_종로구_청운동
3    서울특별시_종로구_신교동
4    서울특별시_종로구_궁정동
Name: 법정동명, dtype: object

In [24]:
s = pd.Series(['가나다 123', 'ㅠㅠ!!!', '한글alphabet'])
s

0       가나다 123
1         ㅠㅠ!!!
2    한글alphabet
dtype: object

In [28]:
# 정규 표현식(Regular expression)
import re
re.sub('[0-9]', '.', '가나다 123') # 정규표현식(대체 대상 문자열), 대체할 문자열, 대상

'가나다 ...'

In [30]:
re.sub('[a-z]', '.', '한글alphabet')

'한글........'

In [31]:
# 문자열 메소드인 replace는 정규표현식을 지원하지 않음
# (문자열에서 replace하면 안 먹는다)
'한글alphabet'.replace('[a-z]', '.')

'한글alphabet'

In [32]:
# 문자열의 경우 이렇게 쓰기
# 한글 정규표현식
re.sub('[가-힣]', '.', '한글alphabet')

'..alphabet'

In [33]:
s.str.replace('[가-힣]', '.')

<ipython-input-33-08cfce173880>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  s.str.replace('[가-힣]', '.')

0       ... 123
1         ㅠㅠ!!!
2    ..alphabet
dtype: object

In [35]:
# 한글과 공백을 제외한 글자는 삭제(뒤에 스페이스 한 칸 띄워주거나 \s쓰면 된다)
# ㄱ-ㅎㅏ-ㅣ안 쓸 경우 'ㅠㅠ'까지 사라진다.
s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')

<ipython-input-35-ccce4c49389e>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')

0    가나다
1      ㅠㅠ
2      한글
dtype: object

In [37]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',
                    skiprows = 1, encoding = 'euc-kr')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [38]:
# for column in cctv.columns[1:]:
#     cctv[column] = cctv[column].apply(lambda x : int(x.replace(',','')))
# cctv

for column in cctv.columns[1:]:
    cctv[column] = cctv[column].str.replace(',', '').astype(int)
cctv

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76
5,광진구,2588,35,57,100,187,98,52,675,465,712,175,32
6,동대문구,2497,1090,146,60,29,111,233,136,197,209,223,63
7,중랑구,3296,302,24,253,88,141,161,162,173,1049,939,4
8,성북구,3958,83,78,170,230,323,594,460,867,714,251,188
9,강북구,2462,0,0,24,65,105,243,6,392,1000,588,39
10,도봉구,1629,39,22,96,181,79,159,134,222,198,168,331
11,노원구,2415,0,97,193,77,516,331,175,216,320,386,104
12,은평구,3791,14,3,44,332,329,555,403,635,1057,288,131
13,서대문구,2940,730,253,155,108,137,223,356,237,343,397,1
14,마포구,2421,58,93,77,61,162,454,359,343,494,300,20
15,양천구,3312,1413,167,181,143,180,350,139,140,274,325,0
16,강서구,2560,55,129,106,213,188,168,506,259,457,356,123
17,구로구,4075,852,216,349,187,268,326,540,488,434,415,0
18,금천구,2374,0,0,178,80,361,133,196,540,369,508,9
19,영등포구,3778,572,136,238,123,209,248,311,658,65,1213,5
20,동작구,2297,41,24,25,503,128,253,271,300,322,419,11
21,관악구,4942,428,205,291,513,529,621,687,663,640,331,34
22,서초구,3704,116,75,94,71,563,516,1060,428,358,420,3
23,강남구,6502,124,77,75,597,840,1310,999,748,789,942,1
24,송파구,2854,72,61,86,85,215,148,241,542,1068,235,101
25,강동구,2547,332,27,163,49,154,202,273,377,356,614,0

* index 조작

In [47]:
cctv.set_index('구분', inplace=True)

In [49]:
cctv.reset_index(inplace=True)
cctv

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76
5,광진구,2588,35,57,100,187,98,52,675,465,712,175,32
6,동대문구,2497,1090,146,60,29,111,233,136,197,209,223,63
7,중랑구,3296,302,24,253,88,141,161,162,173,1049,939,4
8,성북구,3958,83,78,170,230,323,594,460,867,714,251,188
9,강북구,2462,0,0,24,65,105,243,6,392,1000,588,39
10,도봉구,1629,39,22,96,181,79,159,134,222,198,168,331
11,노원구,2415,0,97,193,77,516,331,175,216,320,386,104
12,은평구,3791,14,3,44,332,329,555,403,635,1057,288,131
13,서대문구,2940,730,253,155,108,137,223,356,237,343,397,1
14,마포구,2421,58,93,77,61,162,454,359,343,494,300,20
15,양천구,3312,1413,167,181,143,180,350,139,140,274,325,0
16,강서구,2560,55,129,106,213,188,168,506,259,457,356,123
17,구로구,4075,852,216,349,187,268,326,540,488,434,415,0
18,금천구,2374,0,0,178,80,361,133,196,540,369,508,9
19,영등포구,3778,572,136,238,123,209,248,311,658,65,1213,5
20,동작구,2297,41,24,25,503,128,253,271,300,322,419,11
21,관악구,4942,428,205,291,513,529,621,687,663,640,331,34
22,서초구,3704,116,75,94,71,563,516,1060,428,358,420,3
23,강남구,6502,124,77,75,597,840,1310,999,748,789,942,1
24,송파구,2854,72,61,86,85,215,148,241,542,1068,235,101
25,강동구,2547,332,27,163,49,154,202,273,377,356,614,0

* set_index를 한 후에 주의사항

In [50]:
cctv.set_index('구분', inplace=True)
cctv.head()

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,
계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [51]:
# 1. 파일로 저장할 때 index가 다시 설정되어 있을 수 있다

cctv.to_csv('cctv.csv')
cctv2 = pd.read_csv('cctv.csv')
cctv2.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [53]:
# to_csv를 할 때 index = None으로 놓아야 한다.

cctv2.to_csv('cctv.csv', index = None)
cctv3 = pd.read_csv('cctv.csv')
cctv3.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76